<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twitter.dpr.event"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/hashtrends"
        android:label="@string/app_name"
        android:logo="@mipmap/hashtrends"
        android:banner="@mipmap/hashtrends"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashSports"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >

        </activity>

        <activity
            android:name=".ChatRoom"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >

        </activity>

        <activity
            android:name=".ShareHandleActivity"
            android:label="@string/title_activity_share_handle"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.twitter.dpr.event.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity1"
            android:icon="@drawable/twitter"
            android:label="Tweets"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Test1"
            android:icon="@drawable/twitter"
            android:label="Tweets"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_search_handle"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.twitter.dpr.event.MainActivity" />
        </activity>
        <activity android:name=".RecentSearch"
            android:label="Recent"
            android:screenOrientation="portrait" />

        <activity android:name=".PlacesAvailable"
            android:label="Places"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.twitter.dpr.event.MainActivity" />
        </activity>
    </application>

</manifest>
